<!DOCTYPE html>
    
<style>
     body {
     padding-bottom: 70px;
     }
</style>
<footer class="navbar justify-content-evenly fixed-bottom">
    <i class="material-icons footer-active" onclick="location.href='../main.html'">home</i>
    <i class="material-icons" onclick="location.href='../checkin_main.html'">check</i>
    <i class="material-icons" onclick="location.href='../upload.html'">upload_file</i>
    <i class="material-icons" onclick="location.href='../messages.html'">chat</i>
</footer>
