  <style>
      .navbar-custom {
          background-color: #204C7D;
          color: white;
      }
      .navbar-custom > .container-fluid > a {
        color: black;
      }
      .navbar-custom .container-fluid .navbar-collapse .navbar-nav .nav-link{
        color: #9FBFDC;
      }

      .navbar-custom .container-fluid .navbar-collapse .navbar-nav .active{
      color: white;
      }

      .navbar button.navbar-toggler:hover {
      color: white;
      }

  </style>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom align-items-center">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="../images/Logo.png" alt="" width="40" height="40" class="d-inline-block">
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="../html/main.html">Home</a>
                <a class="nav-link" href="../html/chooseInterests.html">Interest</a>
                <a class="nav-link" href="../html/chooseSkills.html">Skills</a>
                <a class="nav-link" href="../html/newUploadOverview.html">Progress</a>
                <a class="nav-link" href="../html/checkinOverview.html">Checkin</a>
                <a class="nav-link" href="../html/profileFillout.html">Profile</a>
              </div>
          </div>
      </div>
  </nav>