body {
    padding-bottom: 70px;
}

.card-thick-border {
    border: 2px solid #424342;
}
.card-no-border {
    border-width: 0px;
}
.card.selected {
    background-color: #204C7D;
    color: white;
    border: 2px solid #204C7D;
}
.card:hover {
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
    background-color: #9FBFDC;
    color: white;
}
.btn-primary {
    border-color: #204C7D;
    background-color: #204C7D;
    color: white;
}

.btn-primary:hover {
    border-color: white;
    background-color: white;
    color: #204C7D;
}

.btn-light {
    border-color: #9FBFDC;
    background-color: #9FBFDC;
    color: white;
}
.btn-light:hover {
    border-color: white;
    background-color: white;
}
.btn-30-percent {
    width: 30%;
    max-width: 200px;

}
.highlight-card .card:hover {
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
    border-color: #204C7D;
    background-color: #204C7D;
    color: white;
}

h1, h2, h3, h4, p {
    color: #424342
}

.btn-outline-primary {
    border-width: 2px !important;
    border-color: #204C7D !important;
    color: #204C7D !important;
}

.btn-outline-primary:hover {
    border-color: #204C7D !important;
    background-color: #204C7D !important;
    outline-color: #204C7D !important;
    color: white !important;
}

.btn-outline-white {
    border-width: 2px !important;
    border-color: white !important;
    color: white !important;
}

.btn-outline-white:hover {
    border-color: white !important;
    background-color: white !important;
    outline-color:white !important;
    color: #204C7D !important;
}

.navbar {
    background-color: #204C7D;
}

footer i {
    color: #9FBFDC;
}

.bg-light-blue {
    background-color: #9FBFDC;
}
.bg-dark-blue {
    background-color: #204C7D;
}
.color-light-blue {
    color: #9FBFDC;
}
.color-dark-blue {
    color: #204C7D;
}
.color-white {
    color: white;
}