img.rounded-circle {
    width: 40%;
    max-width: 200px;
}

.card-deck {
    max-width: 700px;
}


.card {
    border: 2px solid black;
    min-height: 200px;
    /* max-width: 300px; */
    /* background-color: #5F63E4;
    color: white; */
}

.btn {
    width: 100%;
    max-width: 400px;
}

.btn-primary {
    background-color: #5F63E4
}

.btn-outline-primary {
    outline-color: #5F63E4;
}

.btn:hover {
    background-color: black;
}
